/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/background.jpg);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid #4B6A06;
    background-color: #D6F0B0;
	color:#022713; 
}
a:focus, a:hover {
	font-style: italic;
	color:black;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #4B6A06;
	background-image: -moz-linear-gradient(
	    30deg, #60EB4C 0%, #60EB4C 30%, white 50%, #60EB4C 80%, #60EB4C 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #60EB4C 0%, #60EB4C 30%, white 50%, #60EB4C 80%, #60EB4C 100%);
	background-image: -o-linear-gradient(
	    30deg, #60EB4C 0%, #60EB4C 30%, white 50%, #60EB4C 80%, #60EB4C 100%);
	background-image: linear-gradient(
	    30deg, #60EB4C 0%, #60EB4C 30%, white 50%, #60EB4C 80%, #60EB4C 100%);
}
header h1 {
	font-size: 195%;
	color: #FF5733;
	font-weight:bold;
	text-shadow: 2px 2px 2px #800000;
}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 140%;
	font-style: italic;
	color:#290661;
	text-shadow: 1px 1px 1px black;
}
header img {
	float: left;
	padding: 0 30px;
}
/* the styles for the footer */
footer {
	background-color: #628B0A;
	clear: both;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
	font-size:15px;
}
#sidebarC {
	width: 220px;
    float: right;
	padding-right:20px;
	padding-top: 30px;	
}
#sidebarA {
    width: 450px;
    float: left;
	padding-left: 20px;
	padding-top: 30px;
}

#sidebarB {
    width: 220px;
    float: left;
	padding-top: 30px;
    padding-left: 20px;
	background-color:#ABEFA1;
	padding-top: 30px;
}
aside img{
	
	padding-bottom:10px;
	padding-top:5px;
}
#imagecaption{
	padding-left:10px;
	color:#0F6E08;
	font-size:18px;
	font-weight:bold;
}
/* The styles for the operation of the 3-tier navigation menu */
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
	position: relative;    /* So the second submenu can be positioned within the first submenu */
}
#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;            /* Position the second submenu at the right side of the li element */ 
	top: 0;                /* Position the second submenu at the top of the li element */
}
#nav_menu ul li.lastitem ul li ul {
	left: -100%;           /* Position the second submenu at the left side of the li element */ 
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

/* The styles for the formatting of the 3-tier navigation menu */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 250px;
	height:20px;
	padding: 1em 0;
	text-decoration: none;
	background-color: #1E6713;
	color: white;
	font-weight: bold;
}
#nav_menu ul li a.lastitem {
	width: 158px;               /* So the menu fills the 706px width of the page */
}
#nav_menu ul li a.current {
	color: yellow;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #3D7336;
}
aside img{
	border: 1px solid black;
	width:100px ;
	height:70px;
	padding:0.5px;
}


